.Nav-bar {
    padding: 10px;
    background-color: #f7f7f7;
}

.Nav-bar-link {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    margin-top: 10px;
}

.Nav-bar-link:hover {
    color: #ff0000;
}

.Nav-bar-welcome {
    font-size: .9em;
    margin-top: 10px;
}